/*------------------------------------*\
  #PROJECT-LINKS
\*------------------------------------*/

.project-links {
  display: flex;
  gap: 1rem;
  padding: 0;
  list-style-type: none;

  &__icon {
    aspect-ratio: 1 / 1;
    width: 2rem;
    min-width: 32px;
    height: auto;
  }
}
