%flex-col {
  display: flex;
  flex-direction: column;
}

%secondary-title {
  font-family: var(--title-font);
  font-size: var(--h2-size);
  font-weight: 400;
}

%tertiary-title {
  font-family: var(--title-font);
  font-size: var(--h3-size);
  font-weight: 400;
}
